/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* adds smooth scroll to page*/

html {
    scroll-behavior: smooth;
  }

/* Base */
body {
    background-color: #d9dcd6;
}

/* Styles for the top part of site */ 

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* Styles for top navigation bar */

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    color: #ffffff;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Full width Hero Image */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Reusable elements and miscellaneous styles*/

p   {
    font-size: 16px;
}

.float-left {
    float: left;
    margin-right: 50px;
}

.float-right {
    float: right;
    margin-left: 100px;
}

.content {
    width: 80%;
}

/* Services Section block and element styles */

.services {
    width: 74%;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

.service {
    margin-bottom: 20px;
    padding: 50px 75px 50px 75px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.service h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 36px;
}

.service img {
    max-height: 200px;

}

/* Benefits section box and element styles of website*/

.benefits {
    margin-right: 20px;
    margin-left: 0px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 21%;
    float: right;
    background-color: #2589bd;
    color:#ffffff;
    display: inline-block;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px; 
}
.benefit p {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
}

  /* Styles for page footer */

  footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/***********************************/